<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="{E6C8C250-F39B-406E-B5A9-87F0AA485967}" Name="XCP-ng" Language="1033" Version="1.0.0.0" Manufacturer="XCP-ng" UpgradeCode="47087771-7e34-407c-9d04-94a87316378f">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="XCP-ng" Level="1">
      <ComponentGroupRef Id="XCP-ng" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="XCP-ng" />
      </Directory>
    </Directory>
  </Fragment>



  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="cmp9E3A4082A108061354E1530C1B08E3BF" Guid="{BCE1610F-724A-4BB5-BCB1-1D64FB598032}">
        <File Id="fil24D4C3E1EC647084D484DC3717AB3F40" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\ADODB.dll" />
      </Component>
      <Component Id="cmp83DF1C9014D9E372C82458B8949D7561" Guid="{90ED550C-D2C8-49A2-9F40-C0130BB0D2D2}">
        <File Id="fil2BF7E60BA56C0D3A14B246BC24719255" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\CommandLib.dll" />
      </Component>
      <Component Id="cmp9747EBC8B29B8B2C2B9376EE26B71F53" Guid="{4D7DDF01-554B-4D7E-987D-BDB40320B280}">
        <File Id="filF9CDCA6AFCCC57F25F1903C7B08F4C87" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\CommandLib.pdb" />
      </Component>
      <Component Id="cmp12ADC8729C02C19C790D4DFC946A278F" Guid="{028454EB-1E9C-489D-814A-18E03C340E4A}">
        <File Id="filA81EAFFA4164DFF7379D3A33D221CE2F" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\CookComputing.XmlRpcV2.dll" />
      </Component>
      <Component Id="cmpCE279ED0B777D4DFB6C92984096AC4B4" Guid="{6FA044F2-77D5-432A-975B-E5874C10CB35}">
        <File Id="fil472BB408C34E6D3178E8E3EC26EC0B4B" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\DiscUtils.Common.dll" />
      </Component>
      <Component Id="cmp7CF2C511B473DA96CE4C546EE7100000" Guid="{FC1B9836-AB75-4F81-800E-3B7AD2C553B5}">
        <File Id="fil32F7123B0A7FB00A7FB3108F3974172A" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\DiscUtils.Common.pdb" />
      </Component>
      <Component Id="cmp5242E1689DA7C9184B806CE3ACFD9D0D" Guid="{9762C45E-DA57-4EB0-B828-EA6980D963D3}">
        <File Id="fil2DBB8C257F0DD1F829CB213A134820E5" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\DiscUtils.Common.xml" />
      </Component>
      <Component Id="cmp2B3EFA1483F2854E2F64ECC9553DB27F" Guid="{157BB6C8-0522-40B2-9BA8-184F8988FFAB}">
        <File Id="fil6F5ACCF0FA5D9A4456F724ABAAB8E57B" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\DiscUtils.dll" />
      </Component>
      <Component Id="cmp1B0B0F0669CD061E72FB63CEAE1DDB35" Guid="{EBFCADA3-A859-4DF8-A4BF-5B52A02025C0}">
        <File Id="fil60932B9B11652F4704DAA330A917B2C5" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\DiscUtils.pdb" />
      </Component>
      <Component Id="cmp15A95E3935741E127F9D0871FB4EC75C" Guid="{FA0F665C-280B-4B5A-8489-9DB0D3DABFE4}">
        <File Id="fil096143D7E773F711496E799027F5A506" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\DiscUtils.xml" />
      </Component>
      <Component Id="cmp63BFF7639AE35B43E40A624FD598F0C3" Guid="{4C2520D5-86B8-480A-9FAA-03CA1D8B9189}">
        <File Id="fil7B7E016CA52A25438594E15F384BF834" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\HomePage.ja.mht" />
      </Component>
      <Component Id="cmpAD10C4DDB6153D3101ECFFF7D76EE5A7" Guid="{9DBD022B-31BF-49C7-87BE-AE78FF3D7780}">
        <File Id="fil96C4A42F2D9241A88D45380DC1C190B3" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\HomePage.mht" />
      </Component>
      <Component Id="cmp0F221FAECB97A50B46C599CCD8C06E50" Guid="{7F40FECF-922E-48B3-A25D-92D1C5A9EAF5}">
        <File Id="fil942BFB2FC6AC4F88041D037C35C84A19" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\HomePage.zh-CN.mht" />
      </Component>
      <Component Id="cmp612B8EDB65D51904C1652A7E7B28F59F" Guid="{32E8D83D-0D05-44D8-AED9-E90C7EA787F4}">
        <File Id="filC4FB21276BDBCDD1F4E7BF8A7F45C4A5" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\ICSharpCode.SharpZipLib.dll" />
      </Component>
      <Component Id="cmp93D8B0B4A3E1743DC112AA33040A556E" Guid="{699AA8EB-69A4-4D6D-B9C5-46B2B4AE2DF1}">
        <File Id="fil26195892AC88FA7C68A5B3256E556D0A" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Ionic.Zip.dll" />
      </Component>
      <Component Id="cmpACB6CD6FFB2A84501BD9E8392459FA45" Guid="{9FBF4009-7C01-4298-A832-EEED5C04DC5F}">
        <File Id="fil53CF67BC1F7314B08C1D64A6CEA223E4" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\log4net.dll" />
      </Component>
      <Component Id="cmp971CAA5089C607CB15ABC6DB8CA7C5C2" Guid="{5929D9A1-AD87-4250-BF70-4F72CF6FAF7E}">
        <File Id="filC2B8A215F89AF1071ADDFC39EAE7D41E" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\log4net.xml" />
      </Component>
      <Component Id="cmp9566189FF5EBDFCA5A157A1C61FDF4CE" Guid="{21BBF8B6-4D06-4D3A-9806-3271F6537C0A}">
        <File Id="fil5F05D79F4407EACDD3C5BDEA2B815D39" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Microsoft.Build.Utilities.v3.5.dll" />
      </Component>
      <Component Id="cmpDD29D748022FCFC5F90F81502B7BE83C" Guid="{727F0D7B-F497-4619-AE94-270C1AA83884}">
        <File Id="filD83D79D02DD45C6E47A75B6345C3136C" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Microsoft.ReportViewer.Common.dll" />
      </Component>
      <Component Id="cmp69C3640F1C041FC2DBA81FC5E5C5A1D0" Guid="{C566EA64-F38A-4931-8D82-BB4F0BE26473}">
        <File Id="fil862726BB1F20554AFD64317B858A9A25" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Microsoft.ReportViewer.ProcessingObjectModel.dll" />
      </Component>
      <Component Id="cmp061677E3FCBBBA267366AA681298D731" Guid="{0C2397F8-2EEB-4E0D-8ABD-1BAB6531ADEA}">
        <File Id="fil66994F608E9854F76624D08F73BDFECB" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Microsoft.ReportViewer.WinForms.dll" />
      </Component>
      <Component Id="cmp73B6EF1DF6C8BB9F27B48CB121658A57" Guid="{F4C824C0-D601-45E8-BFD5-17DAF0F05CCD}">
        <File Id="fil4F2908F0B765D500EA07B0A5317D56D1" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\MSTSCLib.dll" />
      </Component>
      <Component Id="cmp72974F93C3F42DAFDBFB2867D92E41D9" Guid="{D8246262-8668-417F-A90C-94F7DD95C223}">
        <File Id="fil7F15BA8094994ADAD04DA907E934B5BD" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="cmp57DB8B82CAF74ACD4D8A89E978068338" Guid="{60E96278-A5F2-449E-8BB6-7F1381E7ACDF}">
        <File Id="fil9BA73B8312B77DA2A8D16A6C05D0598B" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Newtonsoft.Json.xml" />
      </Component>
      <Component Id="cmp334CC7D3ABC48B2929236751C4BF0811" Guid="{546A7639-0D27-4504-B931-00B2661A275B}">
        <File Id="filC01C33F5DCEE0F7D4958E0DAD5371D92" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\resource_report.rdlc" />
      </Component>
      <Component Id="cmpC668AB891DE472BC2046D3D273C736C2" Guid="{90D6E7D8-BCF6-46D9-B567-868486B037AF}">
        <File Id="filAE720D99C5B6348D68408E15294C046A" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenCenterLib.dll" />
      </Component>
      <Component Id="cmp56A6DA7A760B2C87072A292FD14767C8" Guid="{4E1510CC-8AC7-4911-A8A2-9EBCB66B2805}">
        <File Id="fil72FE856D05DD4715A9B8DBAE3D016953" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenCenterLib.dll.config" />
      </Component>
      <Component Id="cmp04594729FD56DE3ACFD83D0E61F3FB02" Guid="{B5178773-1233-4091-9538-8DC1483C3965}">
        <File Id="fil1FAD421BAB0FC90D24E15A6FA27239C4" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenCenterLib.pdb" />
      </Component>
      <Component Id="cmpBAF939BAFFBEF77729DCD84335D168AF" Guid="{96930E1B-2E20-42AF-9529-97542EA03139}">
        <File Id="fil78791A5C6DB6BF4067E50ABCFF8E506F" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenCenterMain.exe" />
      </Component>
      <Component Id="cmp28526DC9DE0D0CC23A67FB000014EE05" Guid="{26A5E5A6-D7F2-4882-8DC8-12EB3E55C3F3}">
        <File Id="filC08EED591754054DD02A603102FB6180" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenCenterMain.exe.config" />
      </Component>
      <Component Id="cmp9CF8015CD3A679CC13EB55D524B92EC2" Guid="{F7B4C0E6-27CD-4D20-9B75-DF320779FB83}">
        <File Id="fil28364345C478855E4D7E681B2DE329F8" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenCenterMain.pdb" />
      </Component>
      <Component Id="cmp5EA8394E970DEE29C46517B7BCE414A0" Guid="{8A181578-90E8-41AB-8FC2-F106A82548DA}">
        <File Id="fil222EBFE8BE5C5183EFDB11873E519E9B" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenCenterMain.vshost.exe" />
      </Component>
      <Component Id="cmp1D621EE8A797CD9DB36C38DE9C9702B5" Guid="{30BAEEC4-6629-4405-89EC-4139D18D45E8}">
        <File Id="filDCF4CCEF7BCCBFA27DCE83315CDF68A3" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenCenterMain.vshost.exe.config" />
      </Component>
      <Component Id="cmp8D47F0517B3DADCE52EF17ADA4922F73" Guid="{C3E1A9EE-EE39-4D27-BFF3-D0507EADD0A6}">
        <File Id="fil734DF8B6DAC3D8AB19008AC4979B9B68" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenCenterMain.vshost.exe.manifest" />
      </Component>
      <Component Id="cmpB061AE4F0879FF6C2B193FBFC2B1EACB" Guid="{87349069-1FB7-48F9-A950-3D153346934F}">
        <File Id="fil3CDF96F465B6277208956903B5A4C468" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenCenterVNC.dll" />
      </Component>
      <Component Id="cmp4407DA4FD487561623418AD99D5A42FE" Guid="{517AD882-8A68-4031-92BB-D67C4DD6197A}">
        <File Id="fil883D6DE06A838B41C0BFBB764D98FE59" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenCenterVNC.dll.config" />
      </Component>
      <Component Id="cmpF0391C84AD5B691BD5DE025E747C8C21" Guid="{ED941B5E-8380-416B-B38A-2D4308E4B50E}">
        <File Id="fil6444C58F1959004E8F37509D60BA417E" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenCenterVNC.pdb" />
      </Component>
      <Component Id="cmpCE598A04A7EFB457BC69EE0596562204" Guid="{E9900642-6CDB-414C-8D09-B58C7952CA68}">
        <File Id="fil400B13E3558935D5086E596509B9E220" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenModel.dll" />
      </Component>
      <Component Id="cmp3ED353E2EB55B8E69A6A13E157268B0B" Guid="{7F783E06-5EFE-4F61-9BDE-BAD82F24F6E4}">
        <File Id="filB59BAB5207522B8AA68EFFA37A300F66" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenModel.pdb" />
      </Component>
      <Component Id="cmpA6FB5446C4FC787CA86E35D43E323F19" Guid="{7E38963A-DEF0-4A11-9F56-4E45FDD8E4CA}">
        <File Id="filCB5BFB1D4AF43B5C681BD8202E00941D" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenOvf.dll" />
      </Component>
      <Component Id="cmpB248697CB82CD8374DC1227C581428D7" Guid="{7282807E-C827-4CE8-814C-3AD53A165BD9}">
        <File Id="fil722C7E5F2D995A7E2DFDEBCBFCD95456" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenOvf.dll.config" />
      </Component>
      <Component Id="cmp9BD2BA432806FE22B25A76759D3BC8C7" Guid="{0505033B-04CC-44DA-9618-2EF2739F2700}">
        <File Id="fil5DE76EA7840DBC53F88FC179CC1057B6" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenOvf.pdb" />
      </Component>
      <Component Id="cmp9355B39E556B88660849941E257442B1" Guid="{154C5D72-E36D-4ECC-A5A7-E09B7118DB8D}">
        <File Id="filC2CC8D3F8A67E044830CDBA0BE6790B9" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenOvfTransport.dll" />
      </Component>
      <Component Id="cmp9EC64FC644FF0509A4237AB7AA9C0C81" Guid="{7595AB8E-11D4-4B9B-A50F-7E3CDF55FE6E}">
        <File Id="filEA497C120BF9A0B276E2C08262B85515" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenOvfTransport.dll.config" />
      </Component>
      <Component Id="cmpB17C34B06DE8D5844DC3B3B6F14D542C" Guid="{A3E7FCD2-AE8D-4D5D-87FD-D0F7EB57A93B}">
        <File Id="fil7A78E5E57C34D69EB18DF099C98C06DC" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\XenOvfTransport.pdb" />
      </Component>
      <Directory Id="dirF7618158CE8FEC39DAC1DD18D359DD11" Name="de">
        <Component Id="cmp03849176CE6DBAF8033FF9E565911AC8" Guid="{20DD3BEB-47F1-4CC9-9A31-5746D882D054}">
          <File Id="fil7D123367E2C2212E2C8D3007A8DAFCE7" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\de\Microsoft.Build.Utilities.v3.5.resources.dll" />
        </Component>
      </Directory>
      <Directory Id="dir59D111FAE6A5E90DC579A5A793F6FC9F" Name="Help">
        <Component Id="cmp540DA6401A8FFA6C313E8E5304CA9B67" Guid="{0232C3B9-3D85-489B-B051-FCDD97F4B4F9}">
          <File Id="filFF8677FCF8F89E7E990215B9B547DE09" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Help\XenCenter.chm" />
        </Component>
        <Component Id="cmpEB937A1E0E6E96FB9FCCB3020A24EDF2" Guid="{E8C32E98-86C1-4BA3-8858-1F7EFC3E5249}">
          <File Id="filA5E5A330496AC11C9176C8C4C5B58672" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Help\XenCenter.ja.chm" />
        </Component>
        <Component Id="cmpDC7C8A10587966CB150BEBDEC9BA596E" Guid="{EEEAE0B5-0D24-4FB1-AA24-BF5CE5452B84}">
          <File Id="filE49F585311802CC0B7CAAADE3E616CC9" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Help\XenCenter.zh-CN.chm" />
        </Component>
      </Directory>
      <Directory Id="dir3A247B869E6E27155BBAD1A9BDA92680" Name="Images">
        <Component Id="cmp32D83B5E7D071A4E11411BD10D8AC0DD" Guid="{E4A8AB2A-D3B3-4BEA-B447-E37597AC6FC4}">
          <File Id="fil7034379BC43716360166406CD912BEEE" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Images\spacer1x1.gif" />
        </Component>
        <Component Id="cmpB6FAC452B6A215E7AE3C3BC5AE1B4549" Guid="{D7F445D6-4B96-4BD6-B97A-C40F5739F87C}">
          <File Id="filF5838B23E513E6B848DEE9368F6007B4" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Images\upsell_16.png" />
        </Component>
        <Component Id="cmp8A52090D9E0D0FC2C657D89571289B78" Guid="{62DE3D21-49C1-4C0E-BCE1-B4D11701F7E0}">
          <File Id="fil19F929BEACF9D97E4F5D24D7E4AC4CE5" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Images\usagebar_0.png" />
        </Component>
        <Component Id="cmp169C931EF0B83D811E7884561097EBEF" Guid="{2B650C5E-183D-4E12-B5EF-FAEF1F629D0F}">
          <File Id="filDFE73AB8BBFC23DDDE6BBC8B1B8CAA3B" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Images\usagebar_1.png" />
        </Component>
        <Component Id="cmp500FC07D87D0987325D09EE1BDE0F774" Guid="{283729C7-B1A7-4648-ADDF-F8F5331BF802}">
          <File Id="filA499C421D5A24A7B989E781C28521755" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Images\usagebar_10.png" />
        </Component>
        <Component Id="cmp1EB9D388C3502F0D55C108EBBF2CFB93" Guid="{4E149130-F575-4A16-BFE8-7DCEBF871C55}">
          <File Id="fil5DD048B337B757BD7CCC6E2ADC7A3AC3" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Images\usagebar_2.png" />
        </Component>
        <Component Id="cmpE0DA4F176BD48680B1B001EDAB72EC69" Guid="{B88D791C-356D-4717-89B1-37FDDE4F170B}">
          <File Id="fil3C195CEA44D81700EFE178618799C3BC" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Images\usagebar_3.png" />
        </Component>
        <Component Id="cmp67B1B5A25B66D3AE40071D8AF16FDC98" Guid="{AA31F1A1-24CE-4176-BC28-B75AD8EBF33A}">
          <File Id="fil3E28452B8E55E2B99C77DCC730F1DAD1" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Images\usagebar_4.png" />
        </Component>
        <Component Id="cmp9BACA9B4D560F70AC39F474051C5C6E7" Guid="{91E61129-58AF-484B-A412-A6EB46AFB66B}">
          <File Id="filDA1F13C561EAF2D5C9120D9A865A563D" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Images\usagebar_5.png" />
        </Component>
        <Component Id="cmpEF392FBCBBDB95DD3F667CDF7D7A8066" Guid="{F8B815DD-BFB5-44F9-8948-24CCA88291A1}">
          <File Id="fil0D3175DBD72E1DB0D15994A0B65218BB" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Images\usagebar_6.png" />
        </Component>
        <Component Id="cmp85FDA084661953E31EB3400D5ED90D92" Guid="{68FB79D4-B46A-45CB-8546-58C17B8CD48A}">
          <File Id="fil40B341962B67E4A30F511D9773771578" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Images\usagebar_7.png" />
        </Component>
        <Component Id="cmpA7D85B0FA05346E96B1CC1D5FAD8D1F2" Guid="{09EA33F0-0AF2-45F1-83B8-82DA2B6EA93C}">
          <File Id="filB7DA2F1FBA1B77A8ED3F21605AB9663E" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Images\usagebar_8.png" />
        </Component>
        <Component Id="cmp1CBBF48D48F42565F254DB27C8483D86" Guid="{AF588B85-D03A-4728-9285-7504FCAC436C}">
          <File Id="fil12413A40DB194615789B3B9C3D8E409B" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Images\usagebar_9.png" />
        </Component>
      </Directory>
      <Directory Id="dir4BAF3ACC1308889E29E86346A3C9852C" Name="ja">
        <Component Id="cmpC973BE091CB3CF22351EFF1650C5A330" Guid="{C487E6E7-5F77-41DE-AF6F-41A3A29915C4}">
          <File Id="filD5D98CD6C01DD1D0FBE90E44916F52E5" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\ja\XenCenterMain.resources.dll" />
        </Component>
        <Component Id="cmp838859CFC46F7FBDD42E5DB2854177A2" Guid="{2D2FC27D-8CB1-47C4-B9DC-AC571880864D}">
          <File Id="fil71F856DC043B13D2657508C2558C43E9" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\ja\XenModel.resources.dll" />
        </Component>
        <Component Id="cmpD86A07106FF4431B16E2C36219CEDF7F" Guid="{608701F7-0ED5-4928-9675-9ADF677D5C44}">
          <File Id="filA8163A00000389BCD8B176778BA53973" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\ja\XenOvf.resources.dll" />
        </Component>
        <Component Id="cmp978096C05EB581D47ECCDAB5A2CDE6C9" Guid="{902B3209-832A-46F3-97B1-581175112523}">
          <File Id="fil9882AB0E2208D2226ED8C32F695BEA60" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\ja\XenOvfTransport.resources.dll" />
        </Component>
      </Directory>
      <Directory Id="dir3883A41CE155EE6D4A9CD4E98CC9652C" Name="Schemas">
        <Component Id="cmp984D81FAF276D33ACE66CBD92E0980DF" Guid="{7B8C6498-D715-403E-94E6-5F91A7521BFD}">
          <File Id="fil3C61018A5E92BDBB41522896AF6C29C9" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Schemas\CIM_OperatingSystem.xml" />
        </Component>
        <Component Id="cmp965F03358BA4DAD7B31A60FD382A113F" Guid="{B3091552-7938-49A4-BD9F-2B9C7F81479B}">
          <File Id="fil561D80FADB6CC1FE4E25EF2A75F356A7" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Schemas\CIM_ResourceAllocationSettingData.xml" />
        </Component>
        <Component Id="cmpA2F5607F3428484A2BB81D17CCED84EF" Guid="{94941B01-7524-4966-BB33-9F946C000A2C}">
          <File Id="filE15AE518927F8728720FE8C93EF9B86D" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Schemas\CIM_ResourceAllocationSettingData.xsd" />
        </Component>
        <Component Id="cmp7EB64467C7670CE739D8B9B05F7B783A" Guid="{372A33E4-472F-48FB-9506-9BBD535098E8}">
          <File Id="filA41CE666D3C7832049BCE22029227E24" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Schemas\CIM_VirtualSystemSettingData.xml" />
        </Component>
        <Component Id="cmp84DD7E9B67D010BBEDA9F6A16CA363A4" Guid="{E1BAEECC-D993-4608-ADBD-43CFA40887BA}">
          <File Id="fil55C741E5AFA2F0FFC6E5989B26182997" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Schemas\CIM_VirtualSystemSettingData.xsd" />
        </Component>
        <Component Id="cmp7902D5FAC1060877C4DA5620B6E32C37" Guid="{90D8FD00-89BF-4976-ACA2-061D4B633B9D}">
          <File Id="fil59074BEBFF43E49255099393FCED285D" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Schemas\common.xsd" />
        </Component>
        <Component Id="cmp96B1DD3A065110B0B0032F09EADA82ED" Guid="{0ECFF3ED-2FDE-4A2F-8856-C6EF7D33BBCF}">
          <File Id="fil00CC23C29D46D04F9692EC4B21904AC5" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Schemas\DSP8023.xsd" />
        </Component>
        <Component Id="cmp8E3036926886471255F4B770478A5975" Guid="{EA06FB0A-13EF-4A26-8DB4-431EE199B471}">
          <File Id="fil404173F8ACCF6B12576B60FDD93C061C" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Schemas\DSP8027.xsd" />
        </Component>
        <Component Id="cmp8EB79B8B98987214E9889FDB06921F86" Guid="{47E85153-DD3F-45ED-ABBA-09803153BFC9}">
          <File Id="fil6DF7BC2AE4C052AF2C7B25BD930B1E50" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Schemas\secext-1.0.xsd" />
        </Component>
        <Component Id="cmp32B8007B5B2A03AEA80806CFBA2F15BE" Guid="{DECC473D-1BBF-439B-AF0B-EA865956101E}">
          <File Id="fil3743A8917B89C7AEAF3FA511D5073BCB" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Schemas\wss-utility-1.0.xsd" />
        </Component>
        <Component Id="cmpF7FA4AE414FCD3FDCE99D0BB92E2B61F" Guid="{E9FA4944-3FF4-4B2C-B8B2-5949A6B6D0A5}">
          <File Id="filD3A5BF3C95A1A75273C8BE160B7579E0" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Schemas\xenc-schema.xsd" />
        </Component>
        <Component Id="cmp6FE17792B6A09233891247D2E142487E" Guid="{28DE34F9-B6E4-4EAE-AA49-DB29C115605C}">
          <File Id="fil741D1653C7F3172CC3F7206A240F56FC" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Schemas\xml.xsd" />
        </Component>
        <Component Id="cmpA76A02F291A87CC5F3B82C312FB5C946" Guid="{676E0A08-63CB-428B-8BB7-653FAEA29435}">
          <File Id="filEFB8477254A55F9C7F3EE412A344CD60" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\Schemas\xmldsig-core-schema.xsd" />
        </Component>
      </Directory>
      <Directory Id="dir1476A99C2E0FFE3A5855CF26EF3A3AAA" Name="TestResources">
        <Component Id="cmp63F585E1501B1E1866A98A181E7151E0" Guid="{DD6634BF-617F-46F7-A0C2-E167570EA553}">
          <File Id="fil5A36B13D68BB0ABFA81D82C6CDB752EC" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\TestResources\api-version.xml" />
        </Component>
        <Component Id="cmp6F9EBF94D50A9EC6EA8A352A4C000B57" Guid="{66816554-00B9-46DF-B9EE-A11608499A18}">
          <File Id="fil814588B410F7F4EFD64142E895C9EC36" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\TestResources\console.png" />
        </Component>
        <Component Id="cmp8FFE5C3119A4DF1C972558F5BA76D378" Guid="{2F6FACD2-7465-4242-A339-4EE5848D5E3F}">
          <File Id="filE45F0E026E277BE7B86FC88109BBAE8E" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\TestResources\credits.xml" />
        </Component>
        <Component Id="cmp25A7ED102DEC3F920D81970287833991" Guid="{AA11D296-B1FB-487F-B006-38FEE52A61DB}">
          <File Id="fil2AC40FD5710F53B8465995C36A52FDCD" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\TestResources\interesting-development.xml" />
        </Component>
        <Component Id="cmp0CD7D8DC422A477291FADCC247C1A353" Guid="{C50EDDAB-EECF-4B07-B641-4DF3DE623570}">
          <File Id="fil053E75FF133735BDB4F1304AA0DB4EF6" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\TestResources\interesting-production.xml" />
        </Component>
        <Component Id="cmpA1390F4946FAB4C106432615024B5562" Guid="{6B1ACB97-7F46-4418-939B-CDE0AFE6DC91}">
          <File Id="filAEDB936C33A6ACF259DB2E99ABEDD6A1" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\TestResources\interesting-xenapp.xml" />
        </Component>
        <Component Id="cmpD173FA8B20A94B58DFD33B0F53EADDDD" Guid="{D3E35070-5FCF-41E1-BD2F-4F7A116F0DB8}">
          <File Id="fil5D25EA16F803931F341DD8C2809AC931" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\TestResources\vmexport.bin" />
        </Component>
      </Directory>
      <Directory Id="dir50B6246B3834061C2B20218486FEF43C" Name="zh-CN">
        <Component Id="cmp31696816F95F4ADEF56F9124EA5CBB15" Guid="{60F4C379-2ACA-4EDF-9B05-85F7012A5881}">
          <File Id="filDFBA38F134DABA3E1A13736D78E0E568" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\zh-CN\XenCenterMain.resources.dll" />
        </Component>
        <Component Id="cmp8F586AF697599CD11E713DE2C323A48B" Guid="{CFE50D7A-5030-4D13-892E-4D66FB4599A6}">
          <File Id="fil0F2111F61063B90E8053C7014832D136" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\zh-CN\XenModel.resources.dll" />
        </Component>
        <Component Id="cmpB0685506A78ACF9787FB31590774B815" Guid="{BDE8E400-1549-497F-BFA9-4C5778FB7728}">
          <File Id="filFE20F924D9FC81D03A07B40933559EA5" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\zh-CN\XenOvf.resources.dll" />
        </Component>
        <Component Id="cmpF91F9ED9D3E4EAB1054812CDC420823D" Guid="{952E63A9-E24F-4755-B28B-BF996DBB6D97}">
          <File Id="fil8B22243728368DB63DF63B0968FCF436" KeyPath="yes" Source="C:\Users\matthias\Desktop\temp\xenadmin\XenAdmin\bin\Release\zh-CN\XenOvfTransport.resources.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="XCP-ng" Directory="INSTALLFOLDER">
      <ComponentRef Id="cmp9E3A4082A108061354E1530C1B08E3BF" />
      <ComponentRef Id="cmp83DF1C9014D9E372C82458B8949D7561" />
      <ComponentRef Id="cmp9747EBC8B29B8B2C2B9376EE26B71F53" />
      <ComponentRef Id="cmp12ADC8729C02C19C790D4DFC946A278F" />
      <ComponentRef Id="cmpCE279ED0B777D4DFB6C92984096AC4B4" />
      <ComponentRef Id="cmp7CF2C511B473DA96CE4C546EE7100000" />
      <ComponentRef Id="cmp5242E1689DA7C9184B806CE3ACFD9D0D" />
      <ComponentRef Id="cmp2B3EFA1483F2854E2F64ECC9553DB27F" />
      <ComponentRef Id="cmp1B0B0F0669CD061E72FB63CEAE1DDB35" />
      <ComponentRef Id="cmp15A95E3935741E127F9D0871FB4EC75C" />
      <ComponentRef Id="cmp63BFF7639AE35B43E40A624FD598F0C3" />
      <ComponentRef Id="cmpAD10C4DDB6153D3101ECFFF7D76EE5A7" />
      <ComponentRef Id="cmp0F221FAECB97A50B46C599CCD8C06E50" />
      <ComponentRef Id="cmp612B8EDB65D51904C1652A7E7B28F59F" />
      <ComponentRef Id="cmp93D8B0B4A3E1743DC112AA33040A556E" />
      <ComponentRef Id="cmpACB6CD6FFB2A84501BD9E8392459FA45" />
      <ComponentRef Id="cmp971CAA5089C607CB15ABC6DB8CA7C5C2" />
      <ComponentRef Id="cmp9566189FF5EBDFCA5A157A1C61FDF4CE" />
      <ComponentRef Id="cmpDD29D748022FCFC5F90F81502B7BE83C" />
      <ComponentRef Id="cmp69C3640F1C041FC2DBA81FC5E5C5A1D0" />
      <ComponentRef Id="cmp061677E3FCBBBA267366AA681298D731" />
      <ComponentRef Id="cmp73B6EF1DF6C8BB9F27B48CB121658A57" />
      <ComponentRef Id="cmp72974F93C3F42DAFDBFB2867D92E41D9" />
      <ComponentRef Id="cmp57DB8B82CAF74ACD4D8A89E978068338" />
      <ComponentRef Id="cmp334CC7D3ABC48B2929236751C4BF0811" />
      <ComponentRef Id="cmpC668AB891DE472BC2046D3D273C736C2" />
      <ComponentRef Id="cmp56A6DA7A760B2C87072A292FD14767C8" />
      <ComponentRef Id="cmp04594729FD56DE3ACFD83D0E61F3FB02" />
      <ComponentRef Id="cmpBAF939BAFFBEF77729DCD84335D168AF" />
      <ComponentRef Id="cmp28526DC9DE0D0CC23A67FB000014EE05" />
      <ComponentRef Id="cmp9CF8015CD3A679CC13EB55D524B92EC2" />
      <ComponentRef Id="cmp5EA8394E970DEE29C46517B7BCE414A0" />
      <ComponentRef Id="cmp1D621EE8A797CD9DB36C38DE9C9702B5" />
      <ComponentRef Id="cmp8D47F0517B3DADCE52EF17ADA4922F73" />
      <ComponentRef Id="cmpB061AE4F0879FF6C2B193FBFC2B1EACB" />
      <ComponentRef Id="cmp4407DA4FD487561623418AD99D5A42FE" />
      <ComponentRef Id="cmpF0391C84AD5B691BD5DE025E747C8C21" />
      <ComponentRef Id="cmpCE598A04A7EFB457BC69EE0596562204" />
      <ComponentRef Id="cmp3ED353E2EB55B8E69A6A13E157268B0B" />
      <ComponentRef Id="cmpA6FB5446C4FC787CA86E35D43E323F19" />
      <ComponentRef Id="cmpB248697CB82CD8374DC1227C581428D7" />
      <ComponentRef Id="cmp9BD2BA432806FE22B25A76759D3BC8C7" />
      <ComponentRef Id="cmp9355B39E556B88660849941E257442B1" />
      <ComponentRef Id="cmp9EC64FC644FF0509A4237AB7AA9C0C81" />
      <ComponentRef Id="cmpB17C34B06DE8D5844DC3B3B6F14D542C" />
      <ComponentRef Id="cmp03849176CE6DBAF8033FF9E565911AC8" />
      <ComponentRef Id="cmp540DA6401A8FFA6C313E8E5304CA9B67" />
      <ComponentRef Id="cmpEB937A1E0E6E96FB9FCCB3020A24EDF2" />
      <ComponentRef Id="cmpDC7C8A10587966CB150BEBDEC9BA596E" />
      <ComponentRef Id="cmp32D83B5E7D071A4E11411BD10D8AC0DD" />
      <ComponentRef Id="cmpB6FAC452B6A215E7AE3C3BC5AE1B4549" />
      <ComponentRef Id="cmp8A52090D9E0D0FC2C657D89571289B78" />
      <ComponentRef Id="cmp169C931EF0B83D811E7884561097EBEF" />
      <ComponentRef Id="cmp500FC07D87D0987325D09EE1BDE0F774" />
      <ComponentRef Id="cmp1EB9D388C3502F0D55C108EBBF2CFB93" />
      <ComponentRef Id="cmpE0DA4F176BD48680B1B001EDAB72EC69" />
      <ComponentRef Id="cmp67B1B5A25B66D3AE40071D8AF16FDC98" />
      <ComponentRef Id="cmp9BACA9B4D560F70AC39F474051C5C6E7" />
      <ComponentRef Id="cmpEF392FBCBBDB95DD3F667CDF7D7A8066" />
      <ComponentRef Id="cmp85FDA084661953E31EB3400D5ED90D92" />
      <ComponentRef Id="cmpA7D85B0FA05346E96B1CC1D5FAD8D1F2" />
      <ComponentRef Id="cmp1CBBF48D48F42565F254DB27C8483D86" />
      <ComponentRef Id="cmpC973BE091CB3CF22351EFF1650C5A330" />
      <ComponentRef Id="cmp838859CFC46F7FBDD42E5DB2854177A2" />
      <ComponentRef Id="cmpD86A07106FF4431B16E2C36219CEDF7F" />
      <ComponentRef Id="cmp978096C05EB581D47ECCDAB5A2CDE6C9" />
      <ComponentRef Id="cmp984D81FAF276D33ACE66CBD92E0980DF" />
      <ComponentRef Id="cmp965F03358BA4DAD7B31A60FD382A113F" />
      <ComponentRef Id="cmpA2F5607F3428484A2BB81D17CCED84EF" />
      <ComponentRef Id="cmp7EB64467C7670CE739D8B9B05F7B783A" />
      <ComponentRef Id="cmp84DD7E9B67D010BBEDA9F6A16CA363A4" />
      <ComponentRef Id="cmp7902D5FAC1060877C4DA5620B6E32C37" />
      <ComponentRef Id="cmp96B1DD3A065110B0B0032F09EADA82ED" />
      <ComponentRef Id="cmp8E3036926886471255F4B770478A5975" />
      <ComponentRef Id="cmp8EB79B8B98987214E9889FDB06921F86" />
      <ComponentRef Id="cmp32B8007B5B2A03AEA80806CFBA2F15BE" />
      <ComponentRef Id="cmpF7FA4AE414FCD3FDCE99D0BB92E2B61F" />
      <ComponentRef Id="cmp6FE17792B6A09233891247D2E142487E" />
      <ComponentRef Id="cmpA76A02F291A87CC5F3B82C312FB5C946" />
      <ComponentRef Id="cmp63F585E1501B1E1866A98A181E7151E0" />
      <ComponentRef Id="cmp6F9EBF94D50A9EC6EA8A352A4C000B57" />
      <ComponentRef Id="cmp8FFE5C3119A4DF1C972558F5BA76D378" />
      <ComponentRef Id="cmp25A7ED102DEC3F920D81970287833991" />
      <ComponentRef Id="cmp0CD7D8DC422A477291FADCC247C1A353" />
      <ComponentRef Id="cmpA1390F4946FAB4C106432615024B5562" />
      <ComponentRef Id="cmpD173FA8B20A94B58DFD33B0F53EADDDD" />
      <ComponentRef Id="cmp31696816F95F4ADEF56F9124EA5CBB15" />
      <ComponentRef Id="cmp8F586AF697599CD11E713DE2C323A48B" />
      <ComponentRef Id="cmpB0685506A78ACF9787FB31590774B815" />
      <ComponentRef Id="cmpF91F9ED9D3E4EAB1054812CDC420823D" />
    </ComponentGroup>
  </Fragment>


</Wix>
